{% extends 'layout.html' %}
{% block content %}
    {% if announcement_categories %}
        <ul class="main-page-list">
            {% for post in announcement_categories %}
                <li class="main-page-list-item">
                    <a class="main-page-list-item-link" href="{% url 'bulletinboard:announcement_detail' post.id %}">
                        <img class="main-page-list-item-img" src="{{ post.announcement_image.url }}" alt="img" height='500'>
                        <div class="main-page-list-item-desc">
                            <h3 class="main-page-list-item-title">{{ post.announcement_title }}</h3>
                            <span class="main-page-list-item-date">{{ post.published_date }}</span>
                            <span class="main-page-list-item-price">Цена: {{ post.price }} у.е.</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3 class="main-page-header">В этой категории пока нет ни одного объявления</h3>
    {% endif %}
{% endblock content%}