{% extends 'layout.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <div>
    {% if post_was_created %}
        <h2 class="main-page-header"> Объявление успешно созданно. </h2>
        <div class="create-block">
            <a class="create-btn" href="{% url 'bulletinboard:create_announcement' %}">Новое объявление</a>
            <a class="create-btn" href="{% url 'bulletinboard:home' %}">На главную страницу</a>
        </div>
    {% else %}
        <div class="create-block">
            <form class="create-form" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {% for field in form %}
                        <div class="create-form-fields">
                            <span class="login-form-label"> {{field.label}} </span>
                            {{ field }}
                        </div>
                        <ul> {{ field.errors }} </ul>
                    {% endfor %}
                </div>
                <button class="create-btn" type='submit'> Создать объявление </button>
            </form>
        </div>
    {% endif %}
    </div>
{% else %}
    <h3 class="main-page-header"> Для создания объявления, вы должны <a href="{% url 'bulletinboard:login' %}"> войти </a> или
    <a href="{% url 'bulletinboard:signup' %}"> зарегистрироваться </a> </h3>
{% endif %}
{% endblock content%}