{% extends 'layout.html' %}
{% block content %}
{% if latest_announcements %}
    <div class="main-page-header">
        Добропожаловать на bulletinboard {{ user.username }}! Здесь ты можешь просматривать и создавать различные объявления. Вот несколько последних предложений.
    </div>
    <ul class="main-page-list">
        {% for post in latest_announcements %}
            <li class="main-page-list-item">
                <a class="main-page-list-item-link" href="{% url 'bulletinboard:announcement_detail' post.id %}">
                    <img class="main-page-list-item-img" src="{{ post.announcement_image.url }}" alt="img" >
                    <div class="main-page-list-item-desc">
                        <h3 class="main-page-list-item-title">{{ post.announcement_title }}</h3>
                        <span class="main-page-list-item-date">{{ post.published_date|date:"d b Y" }}</span>
                        <span class="main-page-list-item-price">Цена: {{ post.price }} у.е.</span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h3 class="main-page-header"> Объявлений нет </h3>
{% endif %}
{% endblock content%}