{% extends 'layout.html' %}
{% block content %}
<article>
    <h3 class="main-page-header"> Восстановление пароля </h3>
    {% if validlink %}
      <form class="signup-form" method="post">
        {% csrf_token %}
        <div>
            {% for field in form %}
                <div class="signup-form-fields">
                    <span class="signup-form-label">{{field.label}}</span>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <button class="signup-btn" type="submit" class='btn btn-info'>Изменить пароль</button>
      </form>
    {% else %}
      <h3 class="main-page-header">
          Ссылка недействительна.
      </h3>
    {% endif %}
</article>
{% endblock %}