{% extends 'layout.html' %}
{% block content %}
    <article>
        <h3 class="main-page-header"> Восстановление пароля </h3>
        {% if not user.is_authenticated %}
        <form class="signup-form" method="post"> {% csrf_token %}
            <div>
                {% for field in form%}
                    <div class="signup-form-fields">
                        <span class="signup-form-label"> Введите email указанный при регистрации </span>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <button class="signup-btn" type="submit">Восстановить</button>
        </form>
        {% else %}
            <h3 class="main-page-header"> Привет, {{ user.username }} </h3>
            <div class="login-block">
                <a class="signup-btn" href="{% url 'bulletinboard:logout' %}"> Выйти </a>
                <a class="signup-btn" href="{% url 'bulletinboard:home' %}"> На главную </a>
            </div>
        {% endif %}
    </article>
{% endblock content%}